<!DOCTYPE html>
<html ng-app="HeatApp">
  <head>
    <title>Heatapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen">
    <link href={{ url_for('static', filename='./bower_components/angular-material/angular-material.min.css') }} rel="stylesheet" media="screen">

    <style>
      body, html, h2 { margin:0; padding:0; height:100%;}
      #heatmapContainer { width:100%; height:100%;}
      #heatmapContainerSim { width:100%; height:100%;}
      .hello { width:590px; height:490px; background-image: url("../static/layout.png")}
    </style>


  </head>
  <body ng-controller="HeatAppController">

    <div>
      <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="data">
            <md-content class="md-padding">
              <div class="hello">
                <heatmap val="t"></heatmap>
              </div>
                <div layout="row">
                    <div flex="10" layout layout-align="center center">
                        <span class="md-body-1">Number of time steps </span>
                    </div>
                    <md-slider flex md-discrete ng-model="t" step="1" min="0" max="2843" aria-label="time-step">
                    </md-slider>

                    <md-input-container>
                    <input type="number" step="any" name="time-step" ng-model="t" min="0" max="2843">
                    </md-input-container>
                </div>
            </md-content>
          </md-tab>
          <md-tab label="simulator">
            <md-content class="md-padding">
                    <div layout="row">
                    <md-input-container>
                    <label>AHU 1 temperatue (C)</label>
                    <input type="number" step="any" name="time-step" ng-model="ahus.ahu_1_outlet" min="1" max="40">
                    </md-input-container>
                    <md-input-container>
                    <label>AHU 2 temperatue (C)</label>
                    <input type="number" step="any" name="time-step" ng-model="ahus.ahu_2_outlet" min="1" max="40">
                    </md-input-container>
                    <md-input-container>
                    <label>AHU 3 temperatue (C)</label>
                    <input type="number" step="any" name="time-step" ng-model="ahus.ahu_3_outlet" min="1" max="40">
                    </md-input-container>
                    <md-input-container>
                    <label>AHU 4 temperatue (C)</label>
                    <input type="number" step="any" name="time-step" ng-model="ahus.ahu_4_outlet" min="1" max="40">
                    </md-input-container>
                    </div>
              <div class="hello">
                <heatmap-sim val="t2"></heatmap-sim>
              </div>
                <div layout>
                    <div flex="10" layout layout-align="center center">
                        <span class="md-body-1">Number of time steps </span>
                    </div>
                    <md-slider flex md-discrete ng-model="t3" step="1" min="0" max="2843" aria-label="time-step">
                    </md-slider>

                    <md-input-container>
                    <input type="number" step="any" name="time-step" ng-model="t3" min="0" max="2843">
                    </md-input-container>
                </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>

     <!-- Angular Material Dependencies -->
     <script src="{{ url_for('static', filename='./bower_components/angular/angular.min.js') }}"></script>
     <script src="{{ url_for('static', filename='./bower_components/angular-animate/angular-animate.min.js') }}"></script>
     <script src="{{ url_for('static', filename='./bower_components/angular-aria/angular-aria.min.js') }}"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.8 used here -->
    <script src="{{ url_for('static', filename='./bower_components/angular-material/angular-material.min.js') }}"></script>
    <script src="{{ url_for('static', filename='heatmap.js') }}"></script>
    <script src="{{ url_for('static', filename='heatmap_main.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
